/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Height of window */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: rgba(200, 200, 200, 0.92);
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 700px;
}

/* The Close Button */
.close {
  padding: 3 8px;
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 28px;
  background: red;
  color: white;
  border-radius: 50%;
}

.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.close:hover {
  cursor: pointer;
}

.close:active {
  color: white;
  background: rgb(200,0,0);
}

#grid-solver {
  float: left;
  width: 450px;
  height: 450px;
  border: 5px solid black;
}

#grid-solver li {
  font-size: 45px;
  border: 5px solid black;
}

#play-div {
  float: left;
  display: flex;
  margin-top: 30px;
  width: 100%;
}

#solver-steps {
  width: 500px;
}

#solver-play {
  width: 75px;
  margin-left: auto;
}

#solver-detail {
  float: right;
  width: 210px;
  display: flex;
  flex-direction: column;
  height: 460px;
}

#solver-detail > *:not(:last-child) {
  margin-bottom: 10px;
}

#solver-text {
  background: rgba(255,255,255,0.55);
  overflow: scroll;
  flex: 1;
  border: 2px inset #dedede;
  text-align: left;
  font-weight: normal;
}

#solver-text > ul {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#solver-text li {
  padding: 2px;
}

#solver-text li:not(:last-child) {
  border-bottom: 1px solid #bbb;
}

#solver-text span {
  display: inline-block;
  width: 20px;
  text-align: right;
  margin: 0 10px;
}


